__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

.env
.env.*
!.env.example
!.env.prod.example

media/
staticfiles/

.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

*.sqlite3
*.log

.DS_Store
.idea/
.vscode/
